.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .container .image {
    display: block;
    height: 300px;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
  }
  
  .container .content {
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .container .content .icons {
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  img {
    border-radius: 50%;
    background-color: black;
  }
  
  @media only screen and (min-width: 768px) {
    body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .container {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      transition: all 0.3s ease-in;
      border-radius: 5px;
    }
  
    .container .image {
      display: block;
      height: 300px;
      width: 90%;
      object-fit: contain;
      border-radius: 10px;
    }
  
    .container .content {
      display: none;
      transition: all 0.3s ease-in;
    }
  
    .container:hover {
      background-color: gray;
    }
  
    .container:hover .image {
      height: 350px;
      width: 95%;
    }
  
    .container:hover .content {
      display: flex;
    }
  }